@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//? PRIMARY COLORS

$RED: hsl(0, 78%, 62%);
$CYAN: hsl(180, 62%, 55%);
$ORANGE: hsl(34, 97%, 64%);
$VIOLET: hsl(212, 86%, 64%);

//? NEUTRAL

$VeryDarkBlue: hsl(234, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$VeryLightGray: hsl(0, 0%, 98%);

//? FONT FAMILY

$font-family: 'Poppins', sans-serif;

//? FONT

$font-bold: 600;
$font-medium: 400;
$font-ease: 200;
